<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h1 class="text-center mb-4">Frequency Edit</h1>

    <div class="row justify-content-center w-75">
        <div class="col-6 border m-3">
            <div class="p-3">
                <dx-data-grid 
                [dataSource]="modelList"
                [allowColumnResizing]="true"
                [columnAutoWidth]="true"
                [dataSource]="modelList"
                (onRowUpdated)="rowUpdated($event)"
                (onRowRemoved)="rowRemoved($event)"
                (onRowInserted)="rowInserted($event)"
                (onSelectionChanged)="selectionChanged($event)">
                    <dxi-column dataField="description" dataType="string"></dxi-column>

                    <dxo-editing
                        mode="row"
                        [allowUpdating]="true"
                        [allowDeleting]="true"
                        [allowAdding]="true">
                    </dxo-editing>

                    <dxo-selection mode="single"></dxo-selection>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>