<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="col-3 m-3">
        <h4>You have</h4>
        <ul>
            <li>
                <b>{{ countOneTimeInc }}</b>
                <a routerLink="/oneTimeIncome" routerLinkActive="active"
                > one time incomes,</a> <br>
            </li>
            <li>
                <b>{{ countOneTimeExp }}</b>
                <a routerLink="/oneTimeExpense" routerLinkActive="active"
                > one time expenses,</a> <br>
            </li>
            <li>
                <b>{{ countRegularInc }}</b>
                <a routerLink="/regularIncome" routerLinkActive="active"
                > regular incomes,</a> <br>
            </li>
            <li>
                <b>{{ countRegularExp }}</b>
                <a routerLink="/regularExpense" routerLinkActive="active"
                > regular expenses.</a> <br>
            </li>
        </ul>
        <h4>
            To see and edit, use buttons above.
        </h4>
    </div>
</div>