<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <form class="w-25 p-3">
        <div class="mb-3 row">
            <label class="col-4 col-form-label">Total One Time Income:</label>
            <div class="col-8">
                <dx-number-box [(value)]="totalOneTimeIncome" [readOnly]="true"></dx-number-box>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-4 col-form-label">Total One Time Expense:</label>
            <div class="col-8">
                <dx-number-box [(value)]="totalOneTimeExpense" [readOnly]="true"></dx-number-box>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-5">
                    <dx-drop-down-button text="Income" [items]="addOptions" icon="add" (onItemClick)="dropdownItemClick($event)"></dx-drop-down-button>
                </div>
                <div class="col-5">
                    <dx-drop-down-button text="Expense" [items]="addOptions" icon="minus" (onItemClick)="dropdownItemClick($event)"></dx-drop-down-button>
                </div>
            </div>
        </div>
    </form>
</div>